{% extends 'adminn/base.html' %}

{% load static %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="card" style="width: 400px;">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Add Author</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
