{% extends 'user/base.html' %}

{% load static %}

{% block content %}


    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <div class="container mt-5">
        <!-- Success Alert -->
        <div class="alert alert-success text-center" role="alert">
            <h2>Thank You for Your Purchase!</h2>
            <p>Your order has been successfully placed.</p>
        </div>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





{% endblock %}